# USP - EACH - Reconhecimento de Padrões - Abril de 2020

## Junção de Arquivo
### Arquivos de Entrada: 
-- Pacientes, Volume/Massa, EDO EPI, Total, Hough, Spharm 

#### Tratamentos:
- sexo: 0 - Feminino / 1 - Masculino

- Inclusão da coluna Target (Variável dependente Alvo)<br>
0 - Sem Anomalias - até a linha 101<br>
1 - Hipertróficos - da 102 até a linha 284<br>
2 - Dilatados - a partir da linha 285 inclusive<br>


### Arquivo de Saída: CMCT_20200501.csv

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Arquivo de Dados do Paciente

dfP = pd.read_csv('Pacientes_20200429.csv', )

#print('*** Dados do DataFrame ***')
#print('**************************')
#print(f'Linhas e Colunas: {df.shape}')
#print()
#print(df.info())
#print()

dfP.head()

      id  idade  sexo
0  id001     29     1
1  id002     31     1
2  id003     27     1
3  id004     52     1
4  id005     56     1

In [3]:
# Arquivo de dados de Volume/Massa
dfV = pd.read_csv('Volume_20200414.csv', header=None)

# Inclusão da coluna Target (Variável dependente - alvo)
dfP['volume'] = dfV[1] 
dfP['massa'] = dfV[2]

dfP.head()

      id  idade  sexo  volume  massa
0  id001     29     1      74    110
1  id002     31     1      94    126
2  id003     27     1      92    157
3  id004     52     1     106    107
4  id005     56     1      68     73

In [4]:
# Inclusão da coluna Target (Variável dependente - alvo)
dfP.loc[:, "TARGET"] = int(0)
dfP.loc[0:101, "TARGET"] = int(0)
dfP.loc[101:284, "TARGET"] = int(1)
dfP.loc[284:, "TARGET"] = int(2)

dfP.head()

      id  idade  sexo  volume  massa  TARGET
0  id001     29     1      74    110       0
1  id002     31     1      94    126       0
2  id003     27     1      92    157       0
3  id004     52     1     106    107       0
4  id005     56     1      68     73       0

In [5]:
# Arquivos EDL - 'EDLEndo_20200414.txt', 'EDLEpi_20200414.txt', 'EDLTotal_20200414.txt'

dfEo = pd.read_csv('EDLEndo_20200414.txt', header=None)

dfEo.head()

       0     1    2      3    4     5    6      7    8
0  id001   0.0  0.0   21.6  0.0  15.9  0.0  168.1  0.0
1  id002  16.1  0.0  133.0  0.0   0.0  0.0    0.0  0.0
2  id003  33.4  0.0   84.4  0.0   0.0  0.0   44.5  0.0
3  id004   0.0  0.0   17.4  0.0   0.0  0.0  131.7  0.0
4  id005   2.7  0.0  115.0  0.0   0.0  0.0   11.7  0.0

In [6]:
# Junção do arquivo EDLEndo com Pacientes
dfP['EDLEndo01'] = dfEo[1]
dfP['EDLEndo02'] = dfEo[2]
dfP['EDLEndo03'] = dfEo[3]
dfP['EDLEndo04'] = dfEo[4]
dfP['EDLEndo05'] = dfEo[5]
dfP['EDLEndo06'] = dfEo[6]
dfP['EDLEndo07'] = dfEo[7]
dfP['EDLEndo08'] = dfEo[8]
dfP.head()

,id,idade,sexo,volume,massa,TARGET,EDLEndo01,EDLEndo02,EDLEndo03,EDLEndo04,EDLEndo05,EDLEndo06,EDLEndo07,EDLEndo08
0,id001,29,1,74,110,0,0.0,0.0,21.6,0.0,15.9,0.0,168.1,0.0
1,id002,31,1,94,126,0,16.1,0.0,133.0,0.0,0.0,0.0,0.0,0.0
2,id003,27,1,92,157,0,33.4,0.0,84.4,0.0,0.0,0.0,44.5,0.0
3,id004,52,1,106,107,0,0.0,0.0,17.4,0.0,0.0,0.0,131.7,0.0
4,id005,56,1,68,73,0,2.7,0.0,115.0,0.0,0.0,0.0,11.7,0.0

In [7]:
dfEi = pd.read_csv('EDLEpi_20200414.txt', header=None)

dfEi.head()

       0     1    2      3    4     5    6      7    8
0  id001   1.7  0.0   46.8  0.0  44.1  0.0  242.6  0.0
1  id002  40.0  0.0  199.0  0.0   0.0  0.0    0.0  0.0
2  id003  47.9  0.0  121.9  0.0   7.9  0.0   67.0  0.0
3  id004   0.0  0.0   41.0  0.0   9.9  0.0  193.1  0.0
4  id005   9.2  0.0  141.9  0.0   0.0  0.0   38.6  0.0

In [8]:
# Junção do arquivo EDLEpi com Pacientes
dfP['EDLEpi01'] = dfEi[1]
dfP['EDLEpi02'] = dfEi[2]
dfP['EDLEpi03'] = dfEi[3]
dfP['EDLEpi04'] = dfEi[4]
dfP['EDLEpi05'] = dfEi[5]
dfP['EDLEpi06'] = dfEi[6]
dfP['EDLEpi07'] = dfEi[7]
dfP['EDLEpi08'] = dfEi[8]
dfP.head()

,id,idade,sexo,volume,massa,TARGET,EDLEndo01,EDLEndo02,EDLEndo03,EDLEndo04,...,EDLEndo07,EDLEndo08,EDLEpi01,EDLEpi02,EDLEpi03,EDLEpi04,EDLEpi05,EDLEpi06,EDLEpi07,EDLEpi08
0,id001,29,1,74,110,0,0.0,0.0,21.6,0.0,...,168.1,0.0,1.7,0.0,46.8,0.0,44.1,0.0,242.6,0.0
1,id002,31,1,94,126,0,16.1,0.0,133.0,0.0,...,0.0,0.0,40.0,0.0,199.0,0.0,0.0,0.0,0.0,0.0
2,id003,27,1,92,157,0,33.4,0.0,84.4,0.0,...,44.5,0.0,47.9,0.0,121.9,0.0,7.9,0.0,67.0,0.0
3,id004,52,1,106,107,0,0.0,0.0,17.4,0.0,...,131.7,0.0,0.0,0.0,41.0,0.0,9.9,0.0,193.1,0.0
4,id005,56,1,68,73,0,2.7,0.0,115.0,0.0,...,11.7,0.0,9.2,0.0,141.9,0.0,0.0,0.0,38.6,0.0

In [9]:
dfT = pd.read_csv('EDLTotal_20200414.txt', header=None)

dfT.head()

       0     1    2      3    4     5    6      7    8
0  id001   0.8  0.0   58.5  0.0  52.3  0.0  357.6  0.0
1  id002  48.0  0.0  284.0  0.0   0.0  0.0    0.0  0.0
2  id003  71.4  0.0  177.2  0.0   6.2  0.0   95.2  0.0
3  id004   0.0  0.0   49.0  0.0   8.1  0.0  269.3  0.0
4  id005   7.9  0.0  211.1  0.0   0.0  0.0   42.5  0.0

In [10]:
# Junção do arquivo EDLTotal com Pacientes
dfP['EDLTotal01'] = dfT[1]
dfP['EDLTotal02'] = dfT[2]
dfP['EDLTotal03'] = dfT[3]
dfP['EDLTotal04'] = dfT[4]
dfP['EDLTotal05'] = dfT[5]
dfP['EDLTotal06'] = dfT[6]
dfP['EDLTotal07'] = dfT[7]
dfP['EDLTotal08'] = dfT[8]
dfP.head()

,id,idade,sexo,volume,massa,TARGET,EDLEndo01,EDLEndo02,EDLEndo03,EDLEndo04,...,EDLEpi07,EDLEpi08,EDLTotal01,EDLTotal02,EDLTotal03,EDLTotal04,EDLTotal05,EDLTotal06,EDLTotal07,EDLTotal08
0,id001,29,1,74,110,0,0.0,0.0,21.6,0.0,...,242.6,0.0,0.8,0.0,58.5,0.0,52.3,0.0,357.6,0.0
1,id002,31,1,94,126,0,16.1,0.0,133.0,0.0,...,0.0,0.0,48.0,0.0,284.0,0.0,0.0,0.0,0.0,0.0
2,id003,27,1,92,157,0,33.4,0.0,84.4,0.0,...,67.0,0.0,71.4,0.0,177.2,0.0,6.2,0.0,95.2,0.0
3,id004,52,1,106,107,0,0.0,0.0,17.4,0.0,...,193.1,0.0,0.0,0.0,49.0,0.0,8.1,0.0,269.3,0.0
4,id005,56,1,68,73,0,2.7,0.0,115.0,0.0,...,38.6,0.0,7.9,0.0,211.1,0.0,0.0,0.0,42.5,0.0

In [11]:
# Arquivos Hough 

dfH = pd.read_csv('Hough_Somatorio_20200416.csv')  #, header=None)

dfH.head()

,ID,Hough45Endo,Hough90Endo,Hough45EndoReduzida,Hough90EndoReduzida,Hough45Epi,Hough90Epi,Hough45EpiReduzida,Hough90EpiReduzida,Hough45Parede,Hough90Total,Hough45TotalReduzida,Hough90TotalReduzida
0,id001,366,366,366,366,494,494,494,494,746,746,746,746
1,id002,256,256,256,256,339,339,339,339,515,515,515,515
2,id003,299,299,299,299,383,383,383,383,589,589,589,589
3,id004,231,231,231,231,330,330,330,330,477,477,477,477
4,id005,192,192,192,192,261,261,261,261,387,387,387,387

In [12]:
# Junção do arquivo Hough com Pacientes
dfP['HoughEndo'] = dfH['Hough45Endo']
dfP['HoughEpi'] = dfH['Hough45Epi']
dfP['HoughParede'] = dfH['Hough45Parede']

dfP.head()

,id,idade,sexo,volume,massa,TARGET,EDLEndo01,EDLEndo02,EDLEndo03,EDLEndo04,...,EDLTotal02,EDLTotal03,EDLTotal04,EDLTotal05,EDLTotal06,EDLTotal07,EDLTotal08,HoughEndo,HoughEpi,HoughParede
0,id001,29,1,74,110,0,0.0,0.0,21.6,0.0,...,0.0,58.5,0.0,52.3,0.0,357.6,0.0,366,494,746
1,id002,31,1,94,126,0,16.1,0.0,133.0,0.0,...,0.0,284.0,0.0,0.0,0.0,0.0,0.0,256,339,515
2,id003,27,1,92,157,0,33.4,0.0,84.4,0.0,...,0.0,177.2,0.0,6.2,0.0,95.2,0.0,299,383,589
3,id004,52,1,106,107,0,0.0,0.0,17.4,0.0,...,0.0,49.0,0.0,8.1,0.0,269.3,0.0,231,330,477
4,id005,56,1,68,73,0,2.7,0.0,115.0,0.0,...,0.0,211.1,0.0,0.0,0.0,42.5,0.0,192,261,387

In [13]:
# Arquivos Spharm

dfOEndo = pd.read_csv('OctantEndoSPHARM_01_20200414.txt', header=None)  #, header=None)

dfOEndo.head(15)

,0,1,2,3,4,5,6,7,8,9
0,id001,VALOR DE L:0,4.613575e+03,6.207727e+02,-1.284782e+02,1.741737e+03,8.209941e+02,-1.944555e+02,-8.937062e+02,-2.880547e+03
1,id001,VALOR DE L:1,-3.133349e+04,-9.348235e+03,-1.988617e+04,-3.220244e+04,2.377449e+04,-2.039031e+03,-7.820589e+03,-5.426062e+04
2,id001,VALOR DE L:2,-2.192672e+05,1.597777e+04,-5.553094e+03,-1.614338e+04,-6.003135e+04,2.462467e+04,-1.135452e+05,4.097868e+04
3,id001,VALOR DE L:3,-4.511126e+05,6.624701e+03,-5.880112e+03,4.282451e+03,4.871571e+05,1.023431e+05,-1.327632e+04,1.997637e+04
4,id001,VALOR DE L:4,-3.952810e+05,-1.027385e+04,-1.369224e+04,6.769039e+03,-9.396250e+05,-9.145368e+04,4.914596e+04,-6.611233e+03
5,id001,VALOR DE L:5,-8.348681e+06,5.071364e+03,-9.741310e+03,-4.778339e+04,5.032851e+06,7.572437e+05,1.598517e+06,-2.975491e+05
6,id001,VALOR DE L:6,-1.153205e+07,5.527972e+04,9.381158e+04,3.488106e+04,-1.375652e+07,-4.820594e+05,-9.594153e+05,8.438109e+05
7,id001,VALOR DE L:7,-5.467818e+07,-8.449458e+03,3.493566e+02,8.677279e+04,1.589986e+07,3.298681e+05,2.773598e+06,2.008689e+06
8,id001,VALOR DE L:8,-2.972186e+08,-1.270262e+05,-5.183070e+05,3.539658e+04,-9.728125e+07,6.465166e+06,2.724076e+06,5.049996e+06
9,id001,VALOR DE L:9,-3.220586e+08,1.856414e+06,4.194742e+06,4.126807e+05,1.295266e+08,-1.073312e+08,-8.310726e+06,2.063868e+05
10,id001,VALOR DE L:10,-1.469164e+07,-1.185771e+07,-7.106150e+06,1.815219e+06,5.692249e+07,1.025102e+07,-4.897840e+07,-2.338564e+06
11,id002,VALOR DE L:0,4.110285e+03,2.581905e+03,2.115149e+03,2.678449e+03,3.075982e+03,2.261446e+03,9.743649e+02,3.940766e+03
12,id002,VALOR DE L:1,-1.167086e+04,2.439138e+02,1.163431e+03,-6.205440e+03,-3.607382e+04,2.962175e+03,-3.230725e+02,-2.856660e+04
13,id002,VALOR DE L:2,4.707986e+03,2.502969e+03,-2.648435e+03,2.212298e+02,2.986295e+05,2.869809e+03,-3.083211e+02,1.010413e+03
14,id002,VALOR DE L:3,5.255221e+04,4.207162e+03,4.139541e+03,-2.931664e+02,8.334360e+04,1.928433e+03,-1.231430e+03,1.340134e+04

In [14]:
# Junção das colunas
dfP1 = dfP.copy()
for l in range(0, 11):
    for n in range(1, 9):
        
        if (l < 10):
            nmc = 'OctEndoL0' + str(l) + '0' + str(n)
        else:
            nmc = 'OctEndoL' + str(l) + '0' + str(n)
        
        dfP1[nmc] = 0.00

# Cria as colunas do Octant Endo de L0 a L10
linha = 0
ct = 0
for l in range(len(dfOEndo)):
    id = dfOEndo.iloc[l, 0]
    
    # Montagem o nome da coluna
    nmL = dfOEndo.iloc[l, 1]
    if (len(nmL) == 12):
        nmc = 'OctEndoL0' + nmL[11]
    else:
        nmc = 'OctEndoL' + nmL[11:13]
    
    # Inclusão das 8 colunas
    for c in range(2, 10):
        nmcl = nmc + '0' + str(c - 1)
        dfP1.loc[linha, nmcl] = dfOEndo.iloc[l, c]
    
        if (dfP1.iloc[linha, 0] != dfOEndo.iloc[l, 0]):
            print('**** Erro: ', dfP1.iloc[linha, 0], dfOEndo.iloc[l, 0])   

    if (ct > 9):
        ct = 0
        linha += 1
    else:
        ct += 1
        
dfP1.head()

,id,idade,sexo,volume,massa,TARGET,EDLEndo01,EDLEndo02,EDLEndo03,EDLEndo04,...,OctEndoL0907,OctEndoL0908,OctEndoL1001,OctEndoL1002,OctEndoL1003,OctEndoL1004,OctEndoL1005,OctEndoL1006,OctEndoL1007,OctEndoL1008
0,id001,29,1,74,110,0,0.0,0.0,21.6,0.0,...,-8.310726e+06,2.063868e+05,-1.469164e+07,-1.185771e+07,-7.106150e+06,1.815219e+06,5.692249e+07,1.025102e+07,-4.897840e+07,-2.338564e+06
1,id002,31,1,94,126,0,16.1,0.0,133.0,0.0,...,-3.705128e+04,-1.774636e+05,-4.258575e+07,-3.046868e+04,1.034548e+05,-7.920316e+05,-6.658865e+07,-2.526558e+04,-2.583905e+05,1.047884e+06
2,id003,27,1,92,157,0,33.4,0.0,84.4,0.0,...,-8.356606e+05,6.867333e+06,1.714362e+08,1.867048e+09,-1.025517e+08,-4.904718e+06,-8.520560e+08,7.659502e+07,-3.094921e+06,-8.497117e+05
3,id004,52,1,106,107,0,0.0,0.0,17.4,0.0,...,1.940624e+06,2.487450e+05,2.992547e+07,5.319936e+04,-1.311753e+05,-3.104621e+04,1.639315e+08,6.492582e+04,-7.225409e+05,4.986136e+05
4,id005,56,1,68,73,0,2.7,0.0,115.0,0.0,...,5.728116e+03,-9.271157e+04,-3.178319e+08,-1.731524e+03,4.105858e+04,1.196674e+05,7.684078e+06,1.163799e+03,-4.659159e+03,2.362444e+03

In [15]:
# Arquivos Spharm

dfOEpi = pd.read_csv('OctantEpiSPHARM_01_20200414.txt', header=None)  #, header=None)

dfOEpi.head(15)

,0,1,2,3,4,5,6,7,8,9
0,id001,VALOR DE L:0,6.639302e+03,-28.993812,-563.890608,2924.309595,2.548155e+03,-5.735596e+02,-3.022078e+03,-3.383374e+03
1,id001,VALOR DE L:1,-6.613514e+04,-3536.139294,-21243.327092,-44398.117462,9.647467e+04,-1.712268e+03,-9.197183e+03,-6.609630e+04
2,id001,VALOR DE L:2,-2.298312e+05,3872.001779,-2352.622758,-32152.070685,-1.978615e+05,-1.375231e+05,1.275698e+05,7.619182e+04
3,id001,VALOR DE L:3,-2.529775e+05,-250.264237,-15482.676754,2548.701135,1.030264e+06,3.981855e+05,-1.953998e+04,3.850387e+04
4,id001,VALOR DE L:4,-1.251043e+05,6974.476460,5634.678665,8429.237232,-7.330628e+06,-8.166713e+05,-1.282825e+05,1.393639e+04
5,id001,VALOR DE L:5,-6.973002e+06,-42282.052692,9297.311235,36305.987950,2.605746e+07,1.167532e+06,-5.432880e+04,-1.112707e+05
6,id001,VALOR DE L:6,-1.732568e+07,-80113.708792,-7676.168736,102139.003155,-1.609391e+08,-1.589151e+06,3.094433e+05,5.531484e+05
7,id001,VALOR DE L:7,-1.559738e+08,-20228.538502,-66338.351589,-49736.530258,1.977017e+08,4.675868e+06,-1.508488e+05,1.124690e+06
8,id001,VALOR DE L:8,-6.775614e+07,2677.237353,-16052.506822,-145308.762669,-5.346838e+09,-4.373274e+04,-1.127484e+05,2.173478e+06
9,id001,VALOR DE L:9,-4.123606e+08,6447.980387,54491.892014,318480.087140,-1.027738e+09,3.217379e+05,1.045923e+07,-5.777522e+05
10,id001,VALOR DE L:10,-3.113658e+07,1839.827110,-92805.670074,647891.438887,-5.039926e+07,-2.465663e+06,8.276751e+05,-6.220580e+05
11,id002,VALOR DE L:0,7.194340e+03,868.636842,3221.529942,3998.522947,5.629551e+03,1.984326e+03,1.078775e+03,4.908729e+03
12,id002,VALOR DE L:1,-3.054082e+04,829.089390,5801.917289,-8604.419733,-1.455263e+05,-7.021519e+02,4.068877e+02,-4.074978e+04
13,id002,VALOR DE L:2,7.721531e+03,807.404556,-4115.777400,741.217711,2.507468e+04,1.863823e+03,-1.850317e+03,2.147879e+03
14,id002,VALOR DE L:3,2.024822e+05,330.534472,3517.351695,453.636676,2.531678e+05,1.195953e+03,-1.602985e+03,-6.000541e+03

In [16]:
# Junção das colunas
dfP2 = dfP1.copy()
for l in range(0, 11):
    for n in range(1, 9):
        
        if (l < 10):
            nmc = 'OctEpiL0' + str(l) + '0' + str(n)
        else:
            nmc = 'OctEpiL' + str(l) + '0' + str(n)
        
        dfP2[nmc] = 0.00

# Cria as colunas do Octant Endo de L0 a L10
linha = 0
ct = 0
for l in range(len(dfOEpi)):
    id = dfOEpi.iloc[l, 0]
    
    # Montagem o nome da coluna
    nmL = dfOEpi.iloc[l, 1]
    if (len(nmL) == 12):
        nmc = 'OctEpiL0' + nmL[11]
    else:
        nmc = 'OctEpiL' + nmL[11:13]
    
    # Inclusão das 8 colunas
    for c in range(2, 10):
        nmcl = nmc + '0' + str(c - 1)
        dfP2.loc[linha, nmcl] = dfOEpi.iloc[l, c]
    
        if (dfP2.iloc[linha, 0] != dfOEpi.iloc[l, 0]):
            print('**** Erro: ', dfP2.iloc[linha, 0], dfOEpi.iloc[l, 0])   

    if (ct > 9):
        ct = 0
        linha += 1
    else:
        ct += 1
        
dfP2.head()

,id,idade,sexo,volume,massa,TARGET,EDLEndo01,EDLEndo02,EDLEndo03,EDLEndo04,...,OctEpiL0907,OctEpiL0908,OctEpiL1001,OctEpiL1002,OctEpiL1003,OctEpiL1004,OctEpiL1005,OctEpiL1006,OctEpiL1007,OctEpiL1008
0,id001,29,1,74,110,0,0.0,0.0,21.6,0.0,...,1.045923e+07,-5.777522e+05,-3.113658e+07,1839.827110,-9.280567e+04,647891.438887,-5.039926e+07,-2.465663e+06,827675.086459,-6.220580e+05
1,id002,31,1,94,126,0,16.1,0.0,133.0,0.0,...,8.942521e+01,-7.171027e+03,-9.058439e+07,351.017757,5.639464e+03,-520871.822298,5.799299e+07,2.372361e+03,-1729.138559,5.844149e+04
2,id003,27,1,92,157,0,33.4,0.0,84.4,0.0,...,5.500791e+04,2.705270e+06,-5.180096e+06,-1074.070310,4.718746e+07,38564.928791,4.899419e+08,2.155949e+07,610513.896589,4.022854e+06
3,id004,52,1,106,107,0,0.0,0.0,17.4,0.0,...,-1.054915e+04,-1.312124e+05,-3.704426e+05,721.976378,8.555904e+03,-3001.611646,8.332476e+08,3.114383e+03,-11495.019595,-1.111327e+05
4,id005,56,1,68,73,0,2.7,0.0,115.0,0.0,...,-4.347509e+03,-4.256976e+04,-1.113192e+08,-12886.778270,-6.398251e+03,38393.336156,1.429687e+07,-2.028431e+03,2822.841919,-1.917876e+03

In [17]:
# Arquivos Octant Spharm

dfOParede = pd.read_csv('OctantParedeSPHARM_01_20200414.txt', header=None)  #, header=None)

dfOParede.head(15)

,0,1,2,3,4,5,6,7,8,9
0,id001,VALOR DE L:0,9.443952e+03,439.698626,-459.994636,4229.891478,2.902702e+03,-5.486137e+02,-3.535592e+03,-5.373762e+03
1,id001,VALOR DE L:1,-8.638221e+04,-8655.361790,-29250.421457,-67700.720824,8.357072e+04,-2.763754e+03,-2.121128e+04,-1.095995e+05
2,id001,VALOR DE L:2,-3.321562e+05,9467.957979,769.661361,-32464.761576,-1.964378e+05,-4.240246e+04,1.573025e+05,9.817188e+04
3,id001,VALOR DE L:3,-5.709319e+05,2188.031387,-21659.388878,2014.208025,8.282969e+05,3.251874e+05,-1.448316e+04,6.336367e+04
4,id001,VALOR DE L:4,-1.038949e+06,1091.450130,12432.371529,16509.370986,-6.778207e+06,-5.277844e+05,6.532996e+04,3.033645e+04
5,id001,VALOR DE L:5,-1.079573e+07,4208.686102,4268.329060,120773.929211,6.978332e+06,1.178797e+06,-9.191586e+05,-8.669378e+04
6,id001,VALOR DE L:6,-2.760714e+07,100231.431759,27575.320142,154376.263914,-1.045470e+08,-1.106272e+06,3.486981e+05,1.260232e+06
7,id001,VALOR DE L:7,-2.224765e+08,6552.270234,-52560.917185,243919.324111,3.528498e+07,3.600472e+06,-6.279530e+04,9.952026e+05
8,id001,VALOR DE L:8,-3.522009e+08,14702.812463,-43304.761570,-374529.642377,-2.220924e+09,-1.482693e+06,3.845807e+05,4.811025e+06
9,id001,VALOR DE L:9,-5.412275e+07,-283657.369644,296624.181855,114525.956623,-3.679902e+08,-2.753357e+05,-3.376965e+06,-1.435256e+06
10,id001,VALOR DE L:10,-3.164136e+08,-242647.261124,120228.865222,441092.938426,2.106433e+07,-7.509872e+06,2.458556e+05,-1.165122e+06
11,id002,VALOR DE L:0,9.687054e+03,1908.922750,4821.950987,5954.870519,7.929919e+03,3.470581e+03,2.096447e+03,8.013405e+03
12,id002,VALOR DE L:1,-2.599092e+04,-1170.392323,5202.336509,-12389.316465,-1.919272e+05,7.552222e+02,-4.473309e+02,-6.107679e+04
13,id002,VALOR DE L:2,1.482466e+04,3257.736046,-4956.120414,453.590633,9.182844e+04,4.082934e+03,-3.561370e+03,2.080321e+03
14,id002,VALOR DE L:3,1.873033e+05,4517.744705,4719.614497,1519.549094,-1.551646e+04,1.358241e+03,1.928511e+02,1.086433e+03

In [18]:
# Junção das colunas
dfP3 = dfP2.copy()
for l in range(0, 11):
    for n in range(1, 9):
        
        if (l < 10):
            nmc = 'OctParedeL0' + str(l) + '0' + str(n)
        else:
            nmc = 'OctParedeL' + str(l) + '0' + str(n)
        
        dfP3[nmc] = 0.00

# Cria as colunas do Octant Endo de L0 a L10
linha = 0
ct = 0
for l in range(len(dfOParede)):
    id = dfOParede.iloc[l, 0]
    
    # Montagem o nome da coluna
    nmL = dfOParede.iloc[l, 1]
    if (len(nmL) == 12):
        nmc = 'OctParedeL0' + nmL[11]
    else:
        nmc = 'OctParedeL' + nmL[11:13]
    
    # Inclusão das 8 colunas
    for c in range(2, 10):
        nmcl = nmc + '0' + str(c - 1)
        dfP3.loc[linha, nmcl] = dfOParede.iloc[l, c]
    
        if (dfP3.iloc[linha, 0] != dfOParede.iloc[l, 0]):
            print('**** Erro: ', dfP3.iloc[linha, 0], dfOParede.iloc[l, 0])   

    if (ct > 9):
        ct = 0
        linha += 1
    else:
        ct += 1
        
dfP3.head()

,id,idade,sexo,volume,massa,TARGET,EDLEndo01,EDLEndo02,EDLEndo03,EDLEndo04,...,OctParedeL0907,OctParedeL0908,OctParedeL1001,OctParedeL1002,OctParedeL1003,OctParedeL1004,OctParedeL1005,OctParedeL1006,OctParedeL1007,OctParedeL1008
0,id001,29,1,74,110,0,0.0,0.0,21.6,0.0,...,-3.376965e+06,-1.435256e+06,-3.164136e+08,-2.426473e+05,1.202289e+05,4.410929e+05,2.106433e+07,-7.509872e+06,2.458556e+05,-1.165122e+06
1,id002,31,1,94,126,0,16.1,0.0,133.0,0.0,...,3.498541e+02,2.054452e+05,5.040423e+05,1.301917e+05,7.397164e+03,-9.965330e+05,7.960039e+06,-7.135648e+03,-4.512065e+03,2.519901e+05
2,id003,27,1,92,157,0,33.4,0.0,84.4,0.0,...,1.042099e+05,9.106468e+06,8.617386e+06,9.448147e+08,6.034199e+07,7.577746e+06,5.658520e+08,-4.041555e+07,2.481174e+06,-9.088833e+06
3,id004,52,1,106,107,0,0.0,0.0,17.4,0.0,...,-7.744612e+03,5.308612e+04,1.169187e+06,-2.221120e+03,7.030026e+04,-3.960676e+04,5.555718e+08,2.989971e+03,1.275491e+05,1.966020e+05
4,id005,56,1,68,73,0,2.7,0.0,115.0,0.0,...,-5.447580e+03,-1.165322e+05,-3.091023e+07,4.357672e+03,7.638708e+03,-1.167453e+04,-2.542356e+07,-2.797960e+03,4.725280e+03,-1.779676e+04

In [19]:
# Arquivos Total Spharm

dfTSEndo = pd.read_csv('TotalEndoSPHARM_01_20200414.txt', header=None)  #, header=None)

dfTSEndo.head(15)

,0,1,2,3,4,5,6,7,8,9,...,659,660,661,662,663,664,665,666,667,668
0,id001,VALOR DE L:0,9.719279,9.719279,9.719279,9.719279,9.719279,9.719279,9.719279,9.719279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,id001,VALOR DE L:1,-560.332927,-494.614593,-540.218871,-384.804869,-480.493589,-454.181810,-597.190544,-447.581372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,id001,VALOR DE L:2,146.862584,255.131720,114.125933,57.598740,256.578785,234.673566,146.216242,207.308727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,id001,VALOR DE L:3,-23.931583,344.165194,-100.226043,-130.657693,353.670058,296.218320,-56.509873,219.433550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,id001,VALOR DE L:4,1024.684387,-1263.880419,1334.094023,1134.683695,-1342.717064,-977.982837,1271.085992,-493.990180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,id001,VALOR DE L:5,844.735373,-568.000393,903.340642,622.100720,-645.768997,-406.486191,981.109740,-76.734167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,id001,VALOR DE L:6,16456.864975,-8969.901502,14649.511902,8133.583962,-11217.404957,-6087.144763,17705.562331,1084.295031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,id001,VALOR DE L:7,13196.671419,-7988.499659,8231.507569,3090.359271,-11300.919044,-4941.131083,11961.848586,3635.740969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,id001,VALOR DE L:8,24165.526028,-29936.393809,-7176.001656,-13091.393636,-49862.280809,-16338.552605,6378.409197,25930.096024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,id001,VALOR DE L:9,-7952.595775,-9859.599272,-20674.817295,-14386.245810,-20514.319943,-4349.412282,-18478.208112,14077.464417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,id001,VALOR DE L:10,-98040.679241,-28894.433727,-127868.034772,-74472.294913,-82696.127981,-7843.132242,-137368.405661,66520.438348,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,id002,VALOR DE L:0,84.915419,84.915419,84.915419,84.915419,84.915419,84.915419,84.915419,84.915419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,id002,VALOR DE L:1,-458.020493,-584.887669,-471.826811,-521.538432,-498.478958,-135.384398,49.553128,16.715400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,id002,VALOR DE L:2,141.116193,202.747708,119.196020,170.538454,142.986281,-57.850187,-88.935172,-79.642482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,id002,VALOR DE L:3,133.665149,232.440910,89.008691,178.672547,128.080274,-56.563683,-10.855689,-23.265574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# Junção das colunas
dfP4 = dfP3.copy()

# Construção das colunas
for n in range(0, 11):     
    if (n < 10):
        nmc = 'TotalEndoSpharmL0' + str(n) 
    else:
        nmc = 'TotalEndoSpharmL' + str(n) 
    dfP4[nmc] = 0.00

# Atualiza as colunas novas com a somatória de cada L
linha = 0
ct = 0
for l in range(len(dfTSEndo)):
    id = dfTSEndo.iloc[l, 0]
    
    # Montagem o nome da coluna
    nmL = dfTSEndo.iloc[l, 1]
    if (len(nmL) == 12):
        nmc = 'TotalEndoSpharmL0' + nmL[11] 
    else:
        nmc = 'TotalEndoSpharmL' + nmL[11:13] 
        
    # Somatório das colunas de cada L
    soma = 0.00
    tc = len(dfTSEndo.columns)
    for c in range(2, tc):
        if (pd.isna(dfTSEndo.iloc[l, c])):
            continue
        else:
            soma += dfTSEndo.iloc[l, c]
    
    # Inclusão da coluna com a somatória
    dfP4.loc[linha, nmc] = soma
    
    # Verificação de consistência entre os conjuntos de linhas das duas bases
    if (ct > 9):
        if (dfP4.iloc[linha, 0] != dfTSEndo.iloc[l, 0]):
            print('**** Erro: ', dfP4.iloc[linha, 0], dfTSEndo.iloc[l, 0])   

        ct = 0
        linha += 1
    else:
        ct += 1
        
dfP4.head()

,id,idade,sexo,volume,massa,TARGET,EDLEndo01,EDLEndo02,EDLEndo03,EDLEndo04,...,TotalEndoSpharmL01,TotalEndoSpharmL02,TotalEndoSpharmL03,TotalEndoSpharmL04,TotalEndoSpharmL05,TotalEndoSpharmL06,TotalEndoSpharmL07,TotalEndoSpharmL08,TotalEndoSpharmL09,TotalEndoSpharmL10
0,id001,29,1,74,110,0,0.0,0.0,21.6,0.0,...,-186495.627484,64005.805000,37417.900346,52095.385329,92353.935832,1.955184e+06,1.520206e+06,2.449197e+06,-8.914405e+05,-8.906077e+06
1,id002,31,1,94,126,0,16.1,0.0,133.0,0.0,...,-79774.239027,10802.475592,8418.776219,-486.672238,15361.770195,2.731124e+04,3.519145e+04,2.586300e+04,1.138133e+05,1.911961e+04
2,id003,27,1,92,157,0,33.4,0.0,84.4,0.0,...,-288023.922395,-501365.147445,-148108.343106,87136.874454,110638.915570,-1.137047e+06,-7.500324e+05,-9.288914e+06,-4.460001e+06,-1.562093e+07
3,id004,52,1,106,107,0,0.0,0.0,17.4,0.0,...,-71077.495468,31612.503217,-29109.139493,30836.364899,27735.523496,4.998919e+04,-6.672372e+04,-4.642950e+04,2.356377e+04,-1.844835e+05
4,id005,56,1,68,73,0,2.7,0.0,115.0,0.0,...,-50166.743920,2814.683746,-14100.821773,28193.699474,-11260.107421,4.529998e+03,1.866989e+04,3.083832e+04,7.230715e+03,-6.838301e+04

In [31]:
# Arquivos Total Epi Spharm

dfTSEpi = pd.read_csv('TotalEpiSPHARM_01_20200414.txt', header=None)  #, header=None)

dfTSEpi.head(15)

,0,1,2,3,4,5,6,7,8,9,...,792,793,794,795,796,797,798,799,800,801
0,id001,VALOR DE L:0,8.703626,8.703626,8.703626,8.703626,8.703626,8.703626,8.703626,8.703626,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,id001,VALOR DE L:1,-337.906173,-607.234467,-524.566242,-448.523133,-565.775239,-489.634533,-373.203712,-470.647652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,id001,VALOR DE L:2,-11.181259,885.030442,858.609102,754.004500,364.313089,640.575340,464.119853,771.933898,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,id001,VALOR DE L:3,-276.273657,375.850089,481.148945,441.715788,-237.476272,232.931296,163.110769,437.780858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,id001,VALOR DE L:4,517.105067,-242.545768,-514.470786,-451.108944,708.720139,-49.285086,46.846266,-440.712796,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,id001,VALOR DE L:5,-109.800301,-49.881186,149.990335,180.517954,-292.567420,-39.758698,-8.521437,158.883211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,id001,VALOR DE L:6,1048.498688,2987.249786,-2614.493653,-3471.651277,4309.638358,2678.915640,1893.051417,-2789.592008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,id001,VALOR DE L:7,-1246.416162,4884.055271,-1698.163611,-3332.444691,83.121329,3720.143468,2378.278418,-2309.650652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,id001,VALOR DE L:8,-8594.123791,18494.247259,-2220.292096,-9837.321788,-12600.268032,12884.084855,7772.051345,-5572.991907,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,id001,VALOR DE L:9,-8317.479401,17221.506576,716.590579,-8489.468300,-17539.184878,11354.752666,6714.488983,-3594.878063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,id001,VALOR DE L:10,-6720.206630,19286.299891,4234.425812,-10332.868180,-19784.451666,12163.198609,7294.292425,-2764.810662,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,id002,VALOR DE L:0,81.252805,81.252805,81.252805,81.252805,81.252805,81.252805,81.252805,81.252805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,id002,VALOR DE L:1,236.520318,-25.142705,-319.081786,-73.314141,-328.895495,416.543056,-415.806359,-319.170759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,id002,VALOR DE L:2,-175.645044,-56.358466,-3.894252,-19.324936,43.412393,-79.589437,127.369292,91.589625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,id002,VALOR DE L:3,88.734507,-4.634532,-25.190073,4.292532,9.569148,138.361942,65.823649,53.049677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Junção das colunas
dfP5 = dfP4.copy()

# Construção das colunas
for n in range(0, 11):     
    if (n < 10):
        nmc = 'TotalEpiSpharmL0' + str(n) 
    else:
        nmc = 'TotalEpiSpharmL' + str(n) 
    dfP5[nmc] = 0.00

# Atualiza as colunas novas com a somatória de cada L
linha = 0
ct = 0
for l in range(len(dfTSEpi)):
    id = dfTSEpi.iloc[l, 0]
    
    # Montagem o nome da coluna
    nmL = dfTSEpi.iloc[l, 1]
    if (len(nmL) == 12):
        nmc = 'TotalEpiSpharmL0' + nmL[11] 
    else:
        nmc = 'TotalEpiSpharmL' + nmL[11:13] 
        
    # Somatório das colunas de cada L
    soma = 0.00
    tc = len(dfTSEpi.columns)
    for c in range(2, tc):
        if (pd.isna(dfTSEpi.iloc[l, c])):
            continue
        else:
            soma += dfTSEpi.iloc[l, c]
    
    # Inclusão da coluna com a somatória
    dfP5.loc[linha, nmc] = soma
    
    # Verificação de consistência entre os conjuntos de linhas das duas bases
    if (ct > 9):
        if (dfP5.iloc[linha, 0] != dfTSEpi.iloc[l, 0]):
            print('**** Erro: ', dfP5.iloc[linha, 0], dfTSEpi.iloc[l, 0])   

        ct = 0
        linha += 1
    else:
        ct += 1
        
dfP5.head()

,id,idade,sexo,volume,massa,TARGET,EDLEndo01,EDLEndo02,EDLEndo03,EDLEndo04,...,TotalEpiSpharmL01,TotalEpiSpharmL02,TotalEpiSpharmL03,TotalEpiSpharmL04,TotalEpiSpharmL05,TotalEpiSpharmL06,TotalEpiSpharmL07,TotalEpiSpharmL08,TotalEpiSpharmL09,TotalEpiSpharmL10
0,id001,29,1,74,110,0,0.0,0.0,21.6,0.0,...,-242037.975418,261827.061316,56182.512228,35880.568104,-21656.264476,449252.577604,91856.924986,-7.642038e+05,-1.087166e+06,-1.089046e+06
1,id002,31,1,94,126,0,16.1,0.0,133.0,0.0,...,-100436.709772,14875.786677,16919.208561,7659.668037,26332.243264,23942.841793,34550.543947,2.415876e+04,9.205317e+03,2.607834e+04
2,id003,27,1,92,157,0,33.4,0.0,84.4,0.0,...,-376716.803442,-460007.435892,-131390.960813,22260.741401,14328.325139,36310.265852,-746273.050076,-4.160265e+06,7.557785e+05,1.389241e+07
3,id004,52,1,106,107,0,0.0,0.0,17.4,0.0,...,-94085.611491,35494.529329,-33480.769204,17567.890707,14639.503575,-23683.018173,-56282.248248,-7.602826e+03,-1.241276e+04,-5.259236e+03
4,id005,56,1,68,73,0,2.7,0.0,115.0,0.0,...,-63292.386465,3053.094317,-10991.087100,19615.277356,8326.697831,12409.100556,6848.467433,-5.942205e+03,9.306156e+03,6.245845e+03

In [33]:
# Arquivos Total Parede Spharm

dfTSParede = pd.read_csv('TotalParedeSPHARM_01_20200414.txt', header=None)  #, header=None)

dfTSParede.head(15)

,0,1,2,3,4,5,6,7,8,9,...,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271
0,id001,VALOR DE L:0,8.781634,8.781634,8.781634,8.781634,8.781634,8.781634,8.781634,8.781634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,id001,VALOR DE L:1,-448.952712,-392.910171,-562.392498,-528.108919,-571.532859,-582.377869,-439.762629,-354.727520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,id001,VALOR DE L:2,611.865413,258.985769,357.242608,393.262973,296.100462,433.277254,595.125198,188.455508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,id001,VALOR DE L:3,396.214250,-28.273703,-132.264483,-29.544266,-227.728964,-56.349436,380.419133,-71.529828,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,id001,VALOR DE L:4,-541.345727,395.424712,734.545063,500.677525,904.407429,620.061281,-501.319849,447.183126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,id001,VALOR DE L:5,4.689125,44.095832,20.802113,22.120062,21.602279,18.373361,7.905773,47.351663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,id001,VALOR DE L:6,-3227.502689,3791.925332,5826.845785,5850.198916,4680.036616,6638.618799,-2878.485178,3295.397734,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,id001,VALOR DE L:7,-2972.886642,3077.404776,2648.293464,4500.865468,92.416852,4347.287224,-2581.998766,2230.544133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,id001,VALOR DE L:8,-8485.329445,5190.402352,-4921.100016,5558.380860,-14188.471784,1583.518081,-7156.340073,2079.965560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,id001,VALOR DE L:9,-4414.908195,-32.949492,-9388.151639,-2640.958357,-12813.580514,-6355.560941,-3587.471920,-1647.476832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,id001,VALOR DE L:10,-7881.480247,-5759.969698,-24465.608592,-15275.106756,-22974.378070,-22686.138288,-6131.488463,-7721.934250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,id002,VALOR DE L:0,81.571327,81.571327,81.571327,81.571327,81.571327,81.571327,81.571327,81.571327,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,id002,VALOR DE L:1,-456.073398,-68.220001,-436.973322,28.462262,-463.990695,-282.162810,76.145750,-462.748130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,id002,VALOR DE L:2,194.450871,-49.364551,97.526736,-73.020615,215.594801,-124.868651,-94.872646,200.466732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,id002,VALOR DE L:3,136.715533,-22.418479,15.511032,-15.897313,164.451332,-122.101607,-6.515573,142.990413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# Junção das colunas
dfP6 = dfP5.copy()

# Construção das colunas
for n in range(0, 11):     
    if (n < 10):
        nmc = 'TotalParedeSpharmL0' + str(n) 
    else:
        nmc = 'TotalParedeSpharmL' + str(n) 
    dfP6[nmc] = 0.00

# Atualiza as colunas novas com a somatória de cada L
linha = 0
ct = 0
for l in range(len(dfTSParede)):
    id = dfTSParede.iloc[l, 0]
    
    # Montagem o nome da coluna
    nmL = dfTSParede.iloc[l, 1]
    if (len(nmL) == 12):
        nmc = 'TotalParedeSpharmL0' + nmL[11] 
    else:
        nmc = 'TotalParedeSpharmL' + nmL[11:13] 
        
    # Somatório das colunas de cada L
    soma = 0.00
    tc = len(dfTSParede.columns)
    for c in range(2, tc):
        if (pd.isna(dfTSParede.iloc[l, c])):
            continue
        else:
            soma += dfTSParede.iloc[l, c]
    
    # Inclusão da coluna com a somatória
    dfP6.loc[linha, nmc] = soma
    
    # Verificação de consistência entre os conjuntos de linhas das duas bases
    if (ct > 9):
        if (dfP6.iloc[linha, 0] != dfTSParede.iloc[l, 0]):
            print('**** Erro: ', dfP6.iloc[linha, 0], dfTSParede.iloc[l, 0])   

        ct = 0
        linha += 1
    else:
        ct += 1
        
dfP6.head()

,id,idade,sexo,volume,massa,TARGET,EDLEndo01,EDLEndo02,EDLEndo03,EDLEndo04,...,TotalParedeSpharmL01,TotalParedeSpharmL02,TotalParedeSpharmL03,TotalParedeSpharmL04,TotalParedeSpharmL05,TotalParedeSpharmL06,TotalParedeSpharmL07,TotalParedeSpharmL08,TotalParedeSpharmL09,TotalParedeSpharmL10
0,id001,29,1,74,110,0,0.0,0.0,21.6,0.0,...,-370009.497215,335894.282142,86542.210472,62266.013014,7802.051260,1.065069e+06,573021.021046,-2.025431e+05,-9.524011e+05,-2.381297e+06
1,id002,31,1,94,126,0,16.1,0.0,133.0,0.0,...,-141806.576054,23698.701494,22189.016025,4403.174271,40612.513318,4.383326e+04,81818.458232,4.615117e+04,4.650854e+04,3.576759e+04
2,id003,27,1,92,157,0,33.4,0.0,84.4,0.0,...,-570967.303337,-705382.958037,-151282.146856,67138.663165,-8005.459046,-4.585848e+05,-741606.061804,-1.107879e+07,3.488353e+06,8.794934e+06
3,id004,52,1,106,107,0,0.0,0.0,17.4,0.0,...,-139380.800912,46566.673586,-48469.232119,36230.421882,41169.985242,-1.000896e+03,-79029.758729,-2.013094e+04,-1.488101e+04,-4.085351e+04
4,id005,56,1,68,73,0,2.7,0.0,115.0,0.0,...,-95503.576892,4503.168069,-20060.300707,40453.585284,572.456509,1.549634e+04,13154.569224,1.391572e+04,1.513852e+04,-3.441970e+03

In [35]:
dfP6.iloc[0, :]

id                            id001
idade                            29
sexo                              1
volume                           74
massa                           110
TARGET                            0
EDLEndo01                         0
EDLEndo02                         0
EDLEndo03                      21.6
EDLEndo04                         0
EDLEndo05                      15.9
EDLEndo06                         0
EDLEndo07                     168.1
EDLEndo08                         0
EDLEpi01                        1.7
EDLEpi02                          0
EDLEpi03                       46.8
EDLEpi04                          0
EDLEpi05                       44.1
EDLEpi06                          0
EDLEpi07                      242.6
EDLEpi08                          0
EDLTotal01                      0.8
EDLTotal02                        0
EDLTotal03                     58.5
EDLTotal04                        0
EDLTotal05                     52.3
EDLTotal06                        0
EDLTotal07                    357.6
EDLTotal08                        0
                           ...
TotalEndoSpharmL03          37417.9
TotalEndoSpharmL04          52095.4
TotalEndoSpharmL05          92353.9
TotalEndoSpharmL06      1.95518e+06
TotalEndoSpharmL07      1.52021e+06
TotalEndoSpharmL08       2.4492e+06
TotalEndoSpharmL09          -891440
TotalEndoSpharmL10     -8.90608e+06
TotalEpiSpharmL00           4299.59
TotalEpiSpharmL01           -242038
TotalEpiSpharmL02            261827
TotalEpiSpharmL03           56182.5
TotalEpiSpharmL04           35880.6
TotalEpiSpharmL05          -21656.3
TotalEpiSpharmL06            449253
TotalEpiSpharmL07           91856.9
TotalEpiSpharmL08           -764204
TotalEpiSpharmL09      -1.08717e+06
TotalEpiSpharmL10      -1.08905e+06
TotalParedeSpharmL00         6551.1
TotalParedeSpharmL01        -370009
TotalParedeSpharmL02         335894
TotalParedeSpharmL03        86542.2
TotalParedeSpharmL04          62266
TotalParedeSpharmL05        7802.05
TotalParedeSpharmL06    1.06507e+06
TotalParedeSpharmL07         573021
TotalParedeSpharmL08        -202543
TotalParedeSpharmL09        -952401
TotalParedeSpharmL10    -2.3813e+06
Name: 0, Length: 330, dtype: object

In [21]:
# Gravando o arquivo de Saída
dfP6.to_csv (r'CMCT_20200502.csv', index = False, header = True)